:root {
    --primary: #19144c;
    --secondary: #cecece;
    --bg: #010101;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}
body {
    background-color: var(--bg);
    font-family: Sans-Serif, Arial;
    color: var(--secondary);
    min-height: 2000px;
}

/*  Navbar Start  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #cecece;
}
.navbar .navbar-logo span {
  color: var(--primary);
}
.navbar .navbar-nav a {
  color: var(--secondary);
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--secondary);
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section Start */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../media/heroBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3 ,1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
.hero .content h1 span {
  color: var(--primary);
}
.hero .content p {
  font-size: 1.6rem;
  margin-top: 1.1rem;
  line-height: 1.4rem;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}
.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* Hero Section End */
/* About Section Start */
.tentang, 
.proyek {
  padding: 10rem 7% 1.4rem;
}
.tentang h2, 
.proyek h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.tentang h2 span, .proyek h2 span {
  color: var(--primary);
}
.tentang .row {
  display: flex;
}
.tentang .row .tentang-img {
  flex: 1 1 45rem;
}
.tentang .row .tentang-img img {
  width: 100%;
}
.tentang .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.tentang .row .content h3 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}
.tentang .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}
/* About Section End */
/* Proyek Section Start */
.proyek h2 {
  margin-bottom: 1rem;
}
.proyek p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}
/* Proyek Section End */

/* Media Query */
/* Laptop */
@media (max-width: 1366px){
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px){
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-left: var(--primary);
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    flex-direction: column;
    padding: 2rem;
    z-index: 9998;
  }

  .navbar .navbar-nav.active {
    transform: translateX(50%);
  }

  .navbar .navbar-nav a {
    display: block;
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1.9rem 0;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.15);
  }
  .tentang .row {
    flex-wrap: wrap;
  }
  .tentang .row .tentang-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .tentang .row .content p {
    padding: 0;
  }
  .tentang .row .content h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}
/* Mobile Phone */
@media (max-width: 480px){
  html {
    font-size: 55%;
  }
}

/*  Navbar End  */
/*  LandingElemen Start  */
/*  LandingElemen End  */
